
*{
    box-sizing: border-box;
}

body{
    font-size: 22px;
    background-color: #ffffff;
    text-align: justify;
    line-height: 1.5;
    font-weight: 500;
    color: #414141;
    margin: 0;
    font-family: Cambria, serif;
}

                            /* DEBUT DE LA PARTIE HEADER NOTAMENT AVEC LE BACKGROUND IMAGE ET LA NAVIGATION POUR LES PRESIDENTS */
header{
    color: white;
    height: 700px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(image/banner-palais.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-decoration: none;
}

h1{
    color: #1a1a1a;
    margin: 0;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 45px;
}

.titre2{
    color: #1a1a1adc;
    font-size: 30px;
    text-transform: none;
}

nav{
    margin-top: 100px;
    margin-bottom: px;
}

.titre-nav{
    font-size: 30px;
    text-decoration: underline;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
}

nav a{
    font-size: 27px;
    line-height: 1.8;
    color: black;
    padding: 6px;
    text-decoration: none;
    margin-bottom: 10px;
}

nav a:hover {
    color: white;
    background-color: #0000004f;
    padding: 6px 15px;
    border-radius: 5px;
}
                            /* FIN DE LA PARTIE HEADER NOTAMENT AVEC LE BACKGROUND IMAGE ET LA NAVIGATION POUR LES PRESIDENTS */
                            /* DEBUT DE LA PARTIE BIOGRAPHIE DES PRESIDENTS AVEC LES TEXTES ET LES IMAGES*/
p{
    margin-top: 5px;
    margin: 0px 10px 10px;
    padding-bottom: 30px;
}

h2,
h4{
    margin: 5px 5px 0;
    color: rgb(80, 80, 192);
}

h3{
    margin: 40px 5px 0;
    color: rgb(38, 38, 134);
}

.bold{
    color: black;
}

img {
    transition: transform 0.5s ease-in-out;
    float: left;
    margin: 10px 25px;
    border-radius: 15px;
}

img:hover {
    transform: scale(1.17);
}

.float-right{
    float: right;
}

.description .left, .description .right{
    border-radius: 15px;
    margin: 50px 50px;
    padding-left: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.397);
    background-color:rgb(253, 253, 253);  
    color: #000000;            
}

.description .left:hover, .description .right:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.952);
    margin-top: 20px;
    background-color:rgb(252, 252, 252);
    transform: scale(1.035);
    /* position: relative;
    top: -20px;
    right: 20px; */
    transition:  1s;
}

/* .left:hover{
    position: relative;
    top: -20px;
    right: 20px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.952);
    margin-top: 20px;
    background-color: #a0c8e0;
    transition: background-color 0.9s ease;
}

.right:hover{
    position: relative;
    top: -20px;
    left: 20px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.952);
    margin-top: 20px;
    background-color: #a0c8e0;
    transition: background-color 0.9s ease;
} */

.dioufa{
    text-align: right;
}
                                /* FIN DE LA PARTIE BIOGRAPHIE DES PRESIDENTS AVEC LES TEXTES ET LES IMAGES */
                                /* DEBUT DE LA CONCLUSION ACCOMPAGNé PAR LA TOUCHE DE RETOUR EN HAUT DE LA PAGE */
.conclusion{
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

.div-retour{
    text-align: right;
    margin: 15px;
    display: flex;
    justify-content: flex-end;
}

.retour{
    border: none;
    width: 40px;
    height: 30px;
}

.retour:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

div a{
    margin-top: 10px;
    padding: 7px;
    color: black;
    border: black solid 1px;
    border-radius: 10px;
}
/*==================== FIN DE LA CONCLUSION ACCOMPAGNé PAR LA TOUCHE DE RETOUR EN HAUT DE LA PAGE ====================*/

/* DEBUT DU FOOTER DE LA PAGE */
footer{
    padding: 40px 10px;
    background-color: rgb(0, 24, 59);
    color: antiquewhite;
    margin-top: 10px;
}

footer a{
    color: white;
}

footer a:hover {
    color: #ffcc00;
    font-size: 25px;
}
/* FIN DU FOOTER DE LA PAGE */

/* DEBUT DU @MEDIA POUR LA RESPONSIVE MOBILE */
@media (max-width: 768px) {
    body {
        font-size: 18px;
    }

    .description, .descriptions {
        margin: 20px;
        padding: 10px;
    }

    nav a {
        font-size: 20px;
    }

    img {
        width: 60%;
        /* float: none; */
        /* display: block; */
        margin: auto;
    }
}
/* FIN DU @MEDIA POUR LA RESPONSIVE MOBILE */